/* 
Color pallette reference:
#29aa9c dark green
#86ddd7 light green
#eca7ec light pink
#ec70da dark pink
*/

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/* Nav bar styling */
nav {
  background-color: #29aa9c;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10vw;
  padding-left: 10vw;
  border: 3px solid black;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

nav img {
  margin: auto;
  height: 100px;
  width:auto;
}

nav button {
  background-color: #86ddd7;
  font-weight: 800;
  font-size: larger;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 20px;
  margin-bottom: 0px;
  border-radius: 15px;
  border-width: 5px;
}


form {
  display: flex;
  background-color: slategray;
  margin: auto;
  width: 40%;
  min-height: 22vw;
  max-height: 50vw;
  padding-top: 0.5vw;
  padding-bottom: 1vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  flex-direction: column;
  justify-content: space-around;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 20vw;
}

li {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3vw;
  font-weight: 700;

  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin: auto;
  text-align: center;
  margin: auto;
  width: 70%;
  text-align: center;
}


#start-quote {
  width: 400px;
  font-size: large;
}

#start-quote-label {
  max-width: 100px;
}

select {
  margin-top: 0.5vw;
  width: 25%;
  border-radius: 3px;
  border: 1px solid black;
}

input[type = 'text'] {
  margin-top: 0.5vw;
  width: 50%;
  border-radius: 3px;
  border: 1px solid black;
}

#submit-button {

  color: green;
  margin: auto;
  width: 60%;
  margin-left: auto;
  margin-right:auto;
  font-weight: 800;
  font-size: 1.25vw;
  
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}



footer {
  background-color: #ec70da;
}

h2 {
  background-color: #eca7ec;
  margin: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2vw;
  text-align: center;
}

footer button {
  margin: auto;
  width: 50%;
  margin-left: 25%;
  margin-top: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;

  background-color: #29aa9c;
  font-size: 2.5vw;
  text-align: center;
}

footer {
  margin: auto;
  width: 100%;
  height: 15vw ;
}